/* $OpenBSD: mandoc.css,v 1.15 2018/05/21 00:29:41 schwarze Exp $ */
/*
 * Standard style sheet for mandoc(1) -Thtml and man.cgi(8).
 */

/* Global defaults. */

html {		max-width: 100ex; }
body {		font-family: Helvetica,Arial,sans-serif; }
table {		margin-top: 0em;
		margin-bottom: 0em; }
td {		vertical-align: top; }
ul, ol, dl {	margin-top: 0em;
		margin-bottom: 0em; }
li, dt {	margin-top: 1em; }

a.permalink {	border-bottom: thin dotted;
		color: inherit;
		font: inherit;
		text-decoration: inherit; }
* {		clear: both }

/* Search form and search results. */

fieldset {	border: thin solid silver;
		border-radius: 1em;
		text-align: center; }
input[name=expr] {
		width: 25%; }

table.results {	margin-top: 1em;
		margin-left: 2em;
		font-size: smaller; }

/* Header and footer lines. */

table.head {	width: 100%;
		border-bottom: 1px dotted #808080;
		margin-bottom: 1em;
		font-size: smaller; }
td.head-vol {	text-align: center; }
td.head-rtitle {
		text-align: right; }
div.Nd {	display: inline; }

table.foot {	width: 100%;
		border-top: 1px dotted #808080;
		margin-top: 1em;
		font-size: smaller; }
td.foot-os {	text-align: right; }

/* Sections and paragraphs. */

div.manual-text {
		margin-left: 5ex; }
h1.Sh {		margin-top: 2ex;
		margin-bottom: 1ex;
		margin-left: -4ex;
		font-size: 110%; }
h2.Ss {		margin-top: 2ex;
		margin-bottom: 1ex;
		margin-left: -2ex;
		font-size: 105%; }
div.Pp {	margin: 1ex 0ex; }
a.Sx { }
a.Xr { }

/* Displays and lists. */

div.Bd { }
div.D1 {	margin-left: 5ex; }

ul.Bl-bullet {	list-style-type: disc;
		padding-left: 1em; }
ul.Bl-bullet > li { }
ul.Bl-dash {	list-style-type: none;
		padding-left: 0em; }
ul.Bl-dash > li:before {
		content: "\2014  "; }
ul.Bl-item {	list-style-type: none;
		padding-left: 0em; }
ul.Bl-item > li { }
ul.Bl-compact > li {
		margin-top: 0ex; }

ol.Bl-enum {	padding-left: 2em; }
ol.Bl-enum > li { }
ol.Bl-compact > li {
		margin-top: 0ex; }

dl.Bl-diag { }
dl.Bl-diag > dt {
		font-style: normal;
		font-weight: bold; }
dl.Bl-diag > dd {
		margin-left: 0ex; }
dl.Bl-hang { }
dl.Bl-hang > dt { }
dl.Bl-hang > dd {
		margin-left: 10.2ex; }
dl.Bl-inset { }
dl.Bl-inset > dt { }
dl.Bl-inset > dd {
		margin-left: 0ex; }
dl.Bl-ohang { }
dl.Bl-ohang > dt { }
dl.Bl-ohang > dd {
		margin-left: 0ex; }
dl.Bl-tag {	margin-left: 10.2ex; }
dl.Bl-tag > dt {
		float: left;
		margin-top: 0ex;
		margin-left: -10.2ex;
		padding-right: 2ex;
		vertical-align: top; }
dl.Bl-tag > dd {
		clear: right;
		width: 100%;
		margin-top: 0ex;
		margin-left: 0ex;
		vertical-align: top;
		overflow: auto; }
dl.Bl-compact > dt {
		margin-top: 0ex; }

table.Bl-column { }
table.Bl-column > tbody > tr { }
table.Bl-column > tbody > tr > td {
		margin-top: 1em; }
table.Bl-compact > tbody > tr > td {
		margin-top: 0ex; }

cite.Rs {	font-style: normal;
		font-weight: normal; }
span.RsA { }
i.RsB {		font-weight: normal; }
span.RsC { }
span.RsD { }
i.RsI {		font-weight: normal; }
i.RsJ {		font-weight: normal; }
span.RsN { }
span.RsO { }
span.RsP { }
span.RsQ { }
span.RsR { }
span.RsT {	text-decoration: underline; }
a.RsU { }
span.RsV { }

span.eqn { }
table.tbl { }

/* Semantic markup for command line utilities. */

table.Nm { }
code.Nm {	font-style: normal;
		font-weight: bold;
		font-family: inherit; }
code.Fl {	font-style: normal;
		font-weight: bold;
		font-family: inherit; }
code.Cm {	font-style: normal;
		font-weight: bold;
		font-family: inherit; }
var.Ar {	font-style: italic;
		font-weight: normal; }
div.Op {	display: inline; }
code.Ic {	font-style: normal;
		font-weight: bold;
		font-family: inherit; }
code.Ev {	font-style: normal;
		font-weight: normal;
		font-family: monospace; }
span.Pa {	font-style: italic;
		font-weight: normal; }

/* Semantic markup for function libraries. */

span.Lb { }
code.In {	font-style: normal;
		font-weight: bold;
		font-family: inherit; }
a.In { }
code.Fd {	font-style: normal;
		font-weight: bold;
		font-family: inherit; }
var.Ft {	font-style: italic;
		font-weight: normal; }
code.Fn {	font-style: normal;
		font-weight: bold;
		font-family: inherit; }
var.Fa {	font-style: italic;
		font-weight: normal; }
var.Vt {	font-style: italic;
		font-weight: normal; }
var.Va {	font-style: italic;
		font-weight: normal; }
code.Dv {	font-style: normal;
		font-weight: normal;
		font-family: monospace; }
code.Er {	font-style: normal;
		font-weight: normal;
		font-family: monospace; }

/* Various semantic markup. */

span.An { }
a.Lk { }
a.Mt { }
code.Cd {	font-style: normal;
		font-weight: bold;
		font-family: inherit; }
span.Ad {	font-style: italic;
		font-weight: normal; }
b.Ms {		font-style: normal; }
span.St { }
a.Ux { }

/* Physical markup. */

.Bf {		display: inline; }
.No {		font-style: normal;
		font-weight: normal; }
.Em {		font-style: italic;
		font-weight: normal; }
.Sy {		font-style: normal;
		font-weight: bold; }
.Li {		font-style: normal;
		font-weight: normal;
		font-family: monospace; }
