#	$OpenBSD: locate.rc,v 1.4 1998/04/10 22:42:19 todd Exp $
#
# /etc/locate.rc -  command script for updatedb(8)
#

# temp directory
TMPDIR="/tmp"

# the actual database
FCODES="/var/db/locate.database"

# directories to be put in the database
SEARCHPATHS="/"

# directories unwanted in output
PRUNEPATHS="/tmp /usr/tmp /var/tmp"

# filesystems allowed. Beware: a non-listed filesystem will be pruned
# and is the SEARCHPATHS starts in such a filesystem locate will build
# an empty database
#
# be careful if you add 'nfs'
FILESYSTEMS="ffs ufs"
