#
# null interface command
#
interface pvc1

#
# simple dropper
#
conditioner pvc1 dropper <drop>
	filter pvc1 dropper 0 0 172.16.4.173 0 0

#
# simple marker to clear dscp
#
conditioner pvc1 clear_marker <mark 0x0>
	filter pvc1 clear_marker 0 0 172.16.4.174 0 0

#
# EF style conditioner (a simple token bucket)
#
conditioner pvc1 ef_cdnr <tbmeter 6M 64K <pass><drop>>
	filter pvc1 ef_cdnr 0 0 172.16.4.176 0 0

#
# AF style conditioners (trTCM)
#
conditioner pvc1 af1x_cdnr \
	<trtcm 3M 32K 10M 64K <mark 0x28><mark 0x30><mark 0x38> colorblind>
	filter pvc1 af1x_cdnr 0 0 172.16.4.177 0 0

#
# color-blind trTCM is equivalent to a dual tokenbucket meter
#
conditioner pvc1 dual_tb \
	<tbmeter 10M 64K <tbmeter 3M 32K <mark 0x28><mark 0x30>><mark 0x38>>
	filter pvc1 dual_tb 0 0 172.16.4.178 0 0
