// $LynxId: LYIcon.rc,v 1.11 2014/02/21 01:18:50 tom Exp $

#include <windows.h>

100	ICON	"../samples/lynx.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    2,8,8,02
PRODUCTVERSION 2,8,8,02
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
FILEFLAGS      0
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VFT_APP
FILESUBTYPE    VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",      "http://lynx.isc.org"
      VALUE "FileDescription",  "Lynx - web browser"
      VALUE "FileVersion",      "2.8.8.02"
      VALUE "InternalName",     "Lynx"
      VALUE "LegalCopyright",   "©1997-2014 Thomas E. Dickey"
      VALUE "OriginalFilename", "lynx.exe"
      VALUE "ProductName",      "Lynx - web browser"
      VALUE "ProductVersion",   "2.8.8.02"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
     VALUE "Translation", 0x409, 1200
  END
END
