#	$OpenBSD: 4.4BSD.dist,v 1.271 2015/04/30 19:02:15 ajacoutot Exp $

/set type=dir uname=root gname=wheel mode=0755

. nochange
altroot
..
bin
..
dev
..

# ./etc
etc
    amd
    ..
    authpf			uname=root mode=0755
    ..
    examples
    ..
    firmware
    ..
    hotplug
    ..

    # ./etc/iked
    iked
        ca
        ..
        certs
        ..
        crls
        ..
        private			uname=root mode=0700
        ..

        # ./etc/iked/pubkeys
        pubkeys			uname=root mode=0755
            fqdn		uname=root mode=0755
            ..
            ipv4		uname=root mode=0755
            ..
            ipv6		uname=root mode=0755
            ..
            ufqdn		uname=root mode=0755
            ..
        ..
    ..

    # ./etc/isakmpd
    isakmpd
        ca
        ..
        certs
        ..
        crls
        ..
        keynote
        ..
        private			uname=root mode=0700
        ..

        # ./etc/isakmpd/pubkeys
        pubkeys			uname=root mode=0755
            fqdn		uname=root mode=0755
            ..
            ipv4		uname=root mode=0755
            ..
            ipv6		uname=root mode=0755
            ..
            ufqdn		uname=root mode=0755
            ..
        ..
    ..

    # ./etc/ldap
    ldap
        certs			mode=0700
        ..
    ..

    # ./etc/mail
    mail
    ..
    mtree
    ..
    npppd
    ..
    ppp
    ..
    rc.d
    ..

    # ./etc/skel
    skel
        .ssh			uname=root mode=0700
        ..
    ..

    # ./etc/signify
    signify
    ..
    ssh
    ..

    # ./etc/ssl
    ssl
        private			uname=root mode=0700
        ..
        lib
        ..
    ..

    # ./etc/systrace
    systrace
    ..
..

# ./home
home
..
mnt
..
root				mode=0700
..
sbin
..
tmp				mode=01777
..

# ./usr
usr
    bin
    ..
    games
    ..

    # ./usr/include
    include			gname=bin uname=root mode=0755
        arpa			gname=bin uname=root mode=0755
        ..

        # ./usr/include/g++
        g++			gname=bin uname=root mode=0755
            std			gname=bin uname=root mode=0755
            ..
        ..
        objc			gname=bin uname=root mode=0755
        ..
        openssl			gname=bin uname=root mode=0755
        ..
        protocols		gname=bin uname=root mode=0755
        ..
        readline		gname=bin uname=root mode=0755
        ..
        rpc			gname=bin uname=root mode=0755
        ..
        rpcsvc			gname=bin uname=root mode=0755
        ..
    ..

    # ./usr/lib
    lib
        debug			gname=bin uname=root mode=0755
        ..
        locate			gname=bin uname=root mode=0755
        ..
        pkgconfig		gname=bin uname=root mode=0755
        ..
    ..

    # ./usr/libdata
    libdata
        perl5
            site_perl
            ..
        ..
    ..

    # ./usr/libexec
    libexec
        auth			type=dir uname=root gname=auth mode=0750
        ..
        lpr
        ..
        smtpd			type=dir uname=root gname=wheel mode=0755
        ..
    ..

    # ./usr/local
    local
        bin
        ..
        lib
            pkgconfig
            ..
        ..
        include
        ..
        info
        ..
        libexec
        ..
        man
            cat1
            ..
            cat2
            ..
            cat3
            ..
            cat3f
            ..
            cat3p
            ..
            cat4
            ..
            cat5
            ..
            cat6
            ..
            cat7
            ..
            cat8
            ..
            cat9
            ..
            catl
            ..
            catn
            ..
            ja_JP.EUC
                cat1
                ..
                cat2
                ..
                cat3
                ..
                cat3p
                ..
                cat4
                ..
                cat5
                ..
                cat6
                ..
                cat7
                ..
                cat8
                ..
                cat9
                ..
                catl
                ..
                catn
                ..
                man1
                ..
                man2
                ..
                man3
                ..
                man4
                ..
                man5
                ..
                man6
                ..
                man7
                ..
                man8
                ..
                man9
                ..
                manl
                ..
                mann
                ..
            ..
            man1
            ..
            man2
            ..
            man3
            ..
            man3f
            ..
            man3p
            ..
            man4
            ..
            man5
            ..
            man6
            ..
            man7
            ..
            man8
            ..
            man9
            ..
            manl
            ..
            mann
            ..
        ..
        sbin
        ..
        share
            dict
            ..
            doc
                pkg-readmes
                ..
            ..
            examples
            ..
            misc
            ..
            nls
                C
                ..
                da_DK.ISO_8859-1
                ..
                de_AT.ISO_8859-1
                ..
                de_CH.ISO_8859-1
                ..
                de_DE.ISO_8859-1
                ..
                el_GR.ISO_8859-7
                ..
                en_AU.ISO_8859-1
                ..
                en_CA.ISO_8859-1
                ..
                en_GB.ISO_8859-1
                ..
                en_US.ISO_8859-1
                ..
                es_ES.ISO_8859-1
                ..
                et_EE.ISO-8859-1
                ..
                fi_FI.ISO_8859-1
                ..
                fr_BE.ISO_8859-1
                ..
                fr_CA.ISO_8859-1
                ..
                fr_CH.ISO_8859-1
                ..
                fr_FR.ISO_8859-1
                ..
                hr_HR.ISO_8859-2
                ..
                is_IS.ISO_8859-1
                ..
                it_CH.ISO_8859-1
                ..
                it_IT.ISO_8859-1
                ..
                ja_JP.EUC
                ..
                ko_KR.EUC
                ..
                lt_LN.ASCII
                ..
                lt_LN.ISO_8859-1
                ..
                lt_LN.ISO_8859-2
                ..
                nl_BE.ISO_8859-1
                ..
                nl_NL.ISO_8859-1
                ..
                no_NO.ISO_8859-1
                ..
                pl_PL.ISO_8859-2
                ..
                pt_PT.ISO_8859-1
                ..
                ru_RU.CP866
                ..
                ru_RU.ISO_8859-5
                ..
                ru_RU.KOI8-R
                ..
                sv_SE.ISO_8859-1
                ..
                uk_UA.KOI8-U
                ..
            ..
            pkgconfig
            ..
            skel
            ..
        ..

        # ./usr/local/libdata
        libdata
            perl5
                site_perl
                ..
            ..
        ..
    ..

    # ./usr/mdec
    mdec
    ..
    obj				gname=wsrc mode=0775
    ..
    sbin
    ..

    # ./usr/share
    share
        calendar
        ..

        # ./usr/share/dict
        dict
            papers
            ..
            special
            ..
        ..

        # ./usr/share/doc
        doc
        ..

        # ./usr/share/games
        games
            atc
            ..
            boggle
            ..
            fortune
            ..
            quiz.db
            ..
        ..

        # ./usr/share/info
        info
        ..

        # ./usr/share/locale
        locale
        ..

        # ./usr/share/man
        man
            man1
                amd64
                ..
                i386
                ..
                sparc
                ..
                sparc64
                ..
            ..

            # ./usr/share/man/man2
            man2
                alpha
                ..
                amd64
                ..
                armish
                ..
                i386
                ..
                zaurus
                ..
            ..

            # ./usr/share/man/man3
            man3
                loongson
                ..
                sgi
                ..
                vax
                ..
            ..

            # ./usr/share/man/man3p
            man3p
            ..

            # ./usr/share/man/man4
            man4
                alpha
                ..
                amd64
                ..
                armish
                ..
                armv7
                ..
                aviion
                ..
                hppa
                ..
                i386
                ..
                landisk
                ..
                loongson
                ..
                luna88k
                ..
                macppc
                ..
                octeon
                ..
                sgi
                ..
                socppc
                ..
                sparc
                ..
                sparc64
                ..
                vax
                ..
                zaurus
                ..
            ..

            # ./usr/share/man/man5
            man5
                amd64
                ..
                armish
                ..
                hppa
                ..
                hppa64
                ..
                i386
                ..
                landisk
                ..
                macppc
                ..
                socppc
                ..
                zaurus
                ..
            ..

            # ./usr/share/man/man6
            man6
            ..
            man7
            ..

            # ./usr/share/man/man8
            man8
                alpha
                ..
                amd64
                ..
                armish
                ..
                armv7
                ..
                aviion
                ..
                hppa
                ..
                hppa64
                ..
                i386
                ..
                landisk
                ..
                loongson
                ..
                luna88k
                ..
                macppc
                ..
                octeon
                ..
                sgi
                ..
                socppc
                ..
                sparc
                ..
                sparc64
                ..
                vax
                ..
                zaurus
                ..
            ..

            # ./usr/share/man/man9
            man9
            ..
        ..

        # ./usr/share/misc
        misc
        ..
        mk
        ..
        nls
        ..

        # ./usr/share/snmp
        snmp
            mibs
            ..
        ..

	# ./usr/share/sysmerge
        sysmerge
        ..

        # ./usr/share/tabset
        tabset
        ..

        # ./usr/share/vi
        vi
            catalog
            ..
        ..

        # ./usr/share/zoneinfo
        zoneinfo		gname=bin uname=root mode=0555
            Australia		gname=bin uname=root mode=0555
            ..
            Brazil		gname=bin uname=root mode=0555
            ..
            Canada		gname=bin uname=root mode=0555
            ..
            Chile		gname=bin uname=root mode=0555
            ..
            Mexico		gname=bin uname=root mode=0555
            ..
            US			gname=bin uname=root mode=0555
            ..
        ..
   ..

   # ./usr/src
   #src				gname=wsrc mode=0775
   #..

   # ./usr/xobj
   xobj				gname=wsrc mode=0775
   ..
..

# ./var
var
    account
    ..
    authpf			uname=root gname=authpf mode=0770
    ..

    # ./var/empty
    empty			mode=0755
    ..

    # ./var/backups
    backups			mode=0700
    ..
    yp				mode=755
    ..
    crash			mode=770
    ..

    # ./var/cron
    cron			mode=0555
        atjobs			gname=crontab mode=01770
        ..
        tabs			gname=crontab mode=01730
        ..
    ..

    # ./var/db
    db
        ldap			mode=0700
        ..
        ns
        ..
        pkg
        ..
        yubikey			uname=root gname=auth mode=0770
        ..
    ..

    # ./var/games
    games			uname=root gname=games mode=0775
        hackdir			uname=root gname=games mode=0775
            save		uname=root gname=games mode=0770
            ..
        ..

        # ./var/games/save
        save			uname=root gname=games mode=0775
        ..
        phantasia		uname=root gname=games mode=0775
        ..
    ..

    # ./var/log
    log
        rdist
        ..
    ..

    # ./var/mail
    mail
    ..

    # ./var/nsd
    nsd
        db			uname=root gname=_nsd mode=0775
        ..
        etc			uname=root gname=_nsd mode=0750
        ..

        # ./var/nsd/run
        run			uname=root gname=_nsd mode=0775
            xfr			uname=root gname=_nsd mode=0770
            ..
        ..

        # ./var/nsd/zones
        zones			uname=root gname=wheel mode=0755
            master		uname=root gname=wheel mode=0755
            ..
            slave		uname=root gname=_nsd mode=0775
            ..
        ..
    ..

    # ./var/quotas
    quotas			gname=operator mode=0750
    ..
    run
    ..

    # ./var/spool
    spool

        # ./var/spool/ftp
        ftp			mode=0555
            bin			mode=0511
            ..
            etc			mode=0511
            ..
            hidden		mode=0111
            ..
            #pub		mode=0555
            #..
        ..

        # ./var/spool/lock
        lock			uname=uucp gname=dialer mode=1775
        ..
        output			gname=daemon mode=0775
        ..
        # ./var/spool/smtpd
        smtpd			type=dir uname=root gname=wheel mode=0711
            corrupt		type=dir uname=_smtpq gname=wheel mode=0700
            ..
            incoming		type=dir uname=_smtpq gname=wheel mode=0700
            ..
            offline		type=dir uname=root gname=wheel mode=1777
            ..
            purge		type=dir uname=_smtpq gname=wheel mode=0700
            ..
            queue		type=dir uname=_smtpq gname=wheel mode=0700
            ..
            temporary		type=dir uname=_smtpq gname=wheel mode=0700
            ..
        ..
        #sockets		mode=777
        #..
        uucp			uname=uucp gname=daemon
        ..
        uucppublic		uname=uucp gname=daemon mode=0755
        ..
    ..

    # ./var/unbound
    unbound
        etc			uname=root gname=wheel mode=0755
        ..
        db			uname=root gname=_unbound mode=0775
        ..
    ..

    # ./var/www
    www				type=dir uname=root gname=daemon mode=755
        cache			type=dir uname=www gname=daemon mode=1700
        ..
        cgi-bin			type=dir uname=root gname=daemon mode=755
        ..
        htdocs			type=dir uname=root gname=daemon mode=755
        ..
        logs			type=dir uname=root gname=daemon mode=755
        ..
        conf			type=dir uname=root gname=daemon mode=755
        ..
        bin			type=dir uname=root gname=daemon mode=755
        ..
        run			type=dir uname=root gname=daemon mode=755
        ..
    ..

    # ./var/audit
    audit			type=dir uname=root gname=wheel mode=2770
    ..
..
