# This is a sample per-user ssh configuration file.  This file could be
# the user's .ssh/config.

# Configuration data is parsed as follows:
#  1. command line options
#  2. user-specific file
#  3. system-wide file
# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

# System defaults will be used for anything not explicitly specified
# in this file.

Host fake
  HostName sparc.ngs.fi
  UseRsh yes

Host pooh
  HostName pooh.tky.hut.fi

Host shadows.cs.hut.fi shadows
  RhostsAuthentication yes
  KeepAlive no
  RemoteForward 30000 olari.clinet.fi:23
  LocalForward 30001 lk-hp-13.hut.fi:23
  IdentityFile ~/.identityfiles/shadows

Host ngs.fi *.ngs.fi
  RhostsAuthentication no
  FallBackToRsh no
  PasswordAuthentication no
  IdentityFile ~/.identityfiles/ngs
  KeepAlive no
  Compression yes
  CompressionLevel 9

Host *.fr
  UseRsh yes

Host *.su
  FallBackToRsh yes
  Cipher none
  PasswordAuthentication no
  ForwardAgent no

Host *.com *.edu *.gov *.mil *.org *.de *.uk
  Cipher 3des
  ForwardAgent no

# Defaults for various options
Host *
  ForwardAgent yes
  ForwardX11 yes
  RhostsAuthentication yes
  PasswordAuthentication yes
  RSAAuthentication yes
  FallBackToRsh no
  UseRsh no
  IdentityFile ~/.ssh/identity
  Port 22
  Cipher idea
